@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    background: linear-gradient(90deg, #2b0097 0%, #000000 100%);
    font-family: Michroma, serif;
}

p {
    color: rgb(0, 205, 137);
}

.nav-link {
    color: rgb(0, 205, 137);
}
.navbar-nav .nav-link.active {
    color: rgb(125, 125, 125);
}

.navbar-brand img{
    width: 50px;
}
 
.navbar-toggler {
    background-color: rgb(159, 159, 159);
}

.sidebar {
    color: rgb(0, 205, 137);
    background: linear-gradient(270deg, #2b0097 0%, #000000 100%)
}

.card {
    color: rgb(0, 205, 137);
    background: linear-gradient(300deg, #2b0097 0%, #000000 100%)
}
.card a {
    text-decoration: none;
    color: rgb(0, 205, 137);
}

.slide-text, 
.footer-text {
    color: rgb(0, 205, 137);
    margin: auto auto;
}

footer,
.button-see {
    background: linear-gradient(300deg, #2b0097 0%, #000000 100%)
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 1s infinite normal forwards;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}



@media (max-width: 770px) {
    .carousel-indicators {
        display: none;
    }
}